%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
}

.heading-2 {
  @extend %heading;
}

.heading-3 {
  @extend %heading;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1;
  }//modifier
  &--dark {
    color: $color-grey-dark-1;
  }
}

//heading-1, heading-2, heading-3, heading-4 gets copied to selector(%heading)
// .heading-1, .heading-2, .heading-3, .heading-4 {
//   font-family: 'Josefin Sans', sans-serif;
//   font-weight: 400;
// }
//in mixin, it gets copied to all selectors
